{{#if conversations}}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Cheers!</h4>
        <p>Successfully retrieved below threads from Micro.blog that you can be part of.
            These are fetched by parsing your timeline for <span style="text-decoration:underline;">posts that spark conversations</span>. 
            At the same time, home feed is parsed <span style="text-decoration:underline;">to find some original posts</span>.
        </p>
        <hr>
        <p class="mb-0" style="padding-bottom:5px"><a href="#conversations" style="color:slateblue">Recent Posts That Trigger Conversations</a></p>
        <p class="mb-0" style="padding-bottom:5px"><a href="#original" style="color:slateblue">Recent Posts That Are Original</a></p>
        <p class="mb-0" style="padding-bottom:5px"><a href="/micro/threads" style="color:slateblue">Explore Threads from Discover Emojitags</a></p>
    </div>
{{else}}
    <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Dang it, no recommendations!</h4>
    <p>Head over to <a href="/discover">user discovery</a> to follow some more good people at Micro.blog.</p>
    </div>
{{/if}}
<a href="/discover/thread?before_id={{before_id}}" class="btn btn-primary" style="float:right;padding:10px 50px;margin-top:-10px;">Fetch More..</a>
<h3 id="conversations" style="padding:5px 0; border-bottom: 2px solid crimson;"> Recent Posts That Trigger Conversations </h3>
<ul class="list-group list-group-flush" style= "padding:20px 0;">
{{#each conversations}}
    <form id="favorite_post_{{id}}" action="/discover/thread/favorite" method="post" style="display: none">
            <input type="hidden" name="postid" value="{{id}}">
            <input type="hidden" name="isfav" value="{{_microblog.is_favorite}}">
    </form>
    <li class="list-group-item">
        {{{content_html}}}
        <p class="rec_meta">
            by <a href="https://micro.blog/{{author._microblog.username}}" style="color:slateblue" target="_blank">{{author._microblog.username}}</a>
            • <a href="https://micro.blog/post/{{id}}" target="_blank">Join the conversation</a>
            • <a href="" onclick="$('#favorite_post_{{id}}').submit(); return false;">
                {{#if _microblog.is_favorite}} Unfavorite {{else}} Favorite {{/if}}
            </a>            
        </p>
    </li>
{{else}}
    <li class="list-group-item" style="color:darkgray;">No recent conversations</li>    
{{/each}}
</ul>

<h3 id="original" style="padding:5px 0; border-bottom: 2px solid crimson;"> Recent Original Posts</h3>
<ul class="list-group list-group-flush" style= "padding:20px 0;">
{{#each posts}}
    {{#unless is_conversation}}
    <form id="favorite_post_{{id}}" action="/discover/thread/favorite" method="post" style="display: none">
        <input type="hidden" name="postid" value="{{id}}">
        <input type="hidden" name="isfav" value="{{is_favorite}}">
    </form>    
    <li class="list-group-item">
        {{{content}}}
        <p class="rec_meta">
            by <a href="https://micro.blog/{{author}}" style="color:slateblue" target="_blank">{{author}}</a>
            • <a href="https://micro.blog/post/{{id}}" target="_blank">Reply</a>
            • <a href="" onclick="$('#favorite_post_{{id}}').submit(); return false;">
                {{#if is_favorite}} Unfavorite {{else}} Favorite {{/if}}
            </a>              
        </p>
    </li>
    {{/unless}}
{{else}}
    <li class="list-group-item" style="color:darkgray;">No recent posts</li>    
{{/each}}
</ul>
<a href="/discover/thread?before_id={{before_id}}" class="btn btn-primary" style="float:right;padding:10px 50px;margin-top:-10px;margin-bottom:10px;">Fetch More..</a>
<center><div style="margin:10px;">~</div></center>
<br>